.icon-shop {
    content: url("~assets/img/icon-shop.svg");
    width: 40px;
    height: 40px;
}

.icon-market {
  content: url("~assets/img/big-store.svg");
  width: 40px;
  height: 40px;
}

.icon-deal {
  content: url("~assets/img/deal.svg");
  width: 40px;
  height: 40px;
}

.icon-cart {
  content: url("~assets/img/cart.svg");
  width: 40px;
  height: 40px;
}

.icon-logout {
  content: url("~assets/img/logout.svg");
  width: 40px;
  height: 40px;
}
